html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body nav {
  position: sticky;
  top: 0;
}

ul.nav-menu {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 20px;
  background: #fff;
}

li {
  list-style: none;
  margin-right: 20px;
  font-size: 25px;
  font-weight: bold;
}

li a {
  text-decoration: none;
  color: #1ac;
}

section {
  height: 100vh;
  display: grid;
  place-items: center;
  align-items: flex-start;
  font-size: 3rem;
  font-weight: bold;
  background: #eee;
}

button {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  cursor: pointer;
  font-size: 50px;
}
button:hover {
  text-decoration: underline;
}